#showing-1 {
  display: none;
}

#showing-2 {
  display: none;
}

#showing-3 {
  display: none;
}

#showing-4 {
  display: none;
}

#showing-5 {
  display: none;
}

#showing-6 {
  display: none;
}

#showing-7 {
  display: none;
}

#showing-8 {
  display: none;
}

#showing-9 {
  display: none;
}

#showing-10 {
  display: none;
}

#showing-11 {
  display: none;
}

#showing-12 {
  display: none;
}

.col-md-3 {
  padding: 20px;
  min-height: 85px;
}